container_commands:
  01_makemigrations:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"
        leader_only: true
  02_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
        leader_only: true
  03_createsuperuser:
        command: "source /var/app/venv/*/bin/activate && echo \"from django.contrib.auth.models import User; User.objects.create_superuser('raj', 'raj@gmail.com', 'raj@1234')\" | python3 manage.py shell"
        leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Shoppingcart.wsgi:application

  