{% extends 'shop/layouts/main.html' %}

{% block content %}
  <section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3">Cart Items </h4>
          <hr style="border-color:#b8bfc2;">
         
        </div>

         
        <table>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Remove</th>
            </tr>
          

            {% for item in cart %}
           <tr>
              <td><img src="{{item.product.product_image.url}}" height="75px" alt="{{item.product.name}}"></td>
              <td>{{item.product.name}}</td>
              <td>{{item.product.selling_price | stringformat:'d'}}</td>
              <td>{{item.product_qty}}</td>
              <td class="amt">{{item.total_cost | stringformat:'d'}}</td>
              <td><a href="{% url 'remove_cart' item.id %}"  onclick="return confirm('Are you sure? to Remove')"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Remove</a></td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td colspan="2"><b>Total Amount</b></td>
              <th id="net">0</th>
              <td>

              

                {% comment %} <button class="btn btn-primary btn-sm">
                <i class="fa fa-check-circle"></i> Check Out
              </button> {% endcomment %}
           

            {% comment %} <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{key}}"
                data-description="payment gateway"
                data-amount = "500"
                data-locale="auto"
            >


            </script> {% endcomment %}
            </td>
            </tr>
           
            <tr>
              <td></td>
              <td></td>
              <td colspan="2"><b>Discount Amount</b></td>
              <th id="Discount">{{Discount}}</th>
             </tr>

              <tr>
                <td></td>
                <td></td>
         
                <td colspan="2"><b>Total to Pay</b></td>
                <th id="Totalpay">{{Total}}</th>
                <td> <a  id="checkout-button" href="{% url 'success' %}" class="btn btn-primary btn-sm"><i class="fa fa-trash"></i> checkout</a></td>
                </tr>
        </table>
 

      </div>
      </div>
  </section>

  <script>
    const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((acc, curr) => {
     return acc += Number(curr.textContent)
    }, 0);
    document.getElementById("net").innerHTML="EUR : "+res;


     
     var checkoutButton = document.getElementById('checkout-button');

     checkoutButton.addEventListener('click', function() {
      console.log("Checkout")
      let postObj = { 
        'product_qty': 0, 
        'pid':0
      }
      fetch("success",{
        method: 'POST',
        credentials: 'same-origin',
        headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify(postObj)
      }).then(response => {
        return response.json();
      }).then(data => {
        //console.log(data);
        alert(data['status']);
      });
     })

       


  </script>
{% endblock content %}